<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <style>
    /* index.css */

    /* Body */
    .body {
      background-color: #f8f8f8;
      font-family: 'PT Serif', serif;
      margin: 0;

    }

    /* Main */
    .main {
      width: 80%;
      margin: auto;
      padding: 50px 0;
    }

    /* Headline */
    .headline {
      text-align: center;
      font-size: 36px;
      margin-bottom: 30px;
    }

    /* Snippet Div */
    .div1 {
      background-color: #fff;
      border-radius: 5px;
      box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
      margin-bottom: 20px;
      padding: 20px;
    }

    /* Snippet Tag */
    .par {
      background-color: #4caf50;
      border-radius: 5px;
      color: #fff;
      font-weight: bold;
      padding: 5px;
      margin-right: 10px;
    }

    /* Snippet Title */
    .line {
      font-size: 20px;
      margin: 0;
      margin-bottom: 10px;
    }

    .line span {
      font-weight: normal;
      font-size: 18px;
    }

    .line span:last-child {
      margin-right: 0;
    }

    .line span:not(:last-child)::after {
      content: "|";
      margin-right: 10px;
    }

    .snippet {
      background-color: #f8f8f8;
      border: 1px solid #dcdcdc;
      border-radius: 5px;
      font-family: Consolas, Monaco, 'Andale Mono', monospace;
      font-size: 16px;
      margin: 20px 0;
      padding: 20px;
      white-space: pre-wrap;
      word-wrap: break-word;
    }

    .header {
      background-color: #333;
      color: white;
      padding: 10px;
    }

    .items {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 800px;
      margin: 0 auto;
    }

    .items a {
      color: white;
      text-decoration: none;
      font-weight: bold;
      font-size: 1.2rem;
      padding: 10px;
      border-radius: 5px;
    }

    .items a:hover {
      background-color: rgba(255, 255, 255, 0.1);
    }

    .header {
      background-color: #333;
      color: #fff;
      padding: 10px;
      text-align: center;
    }

    /* Style for the header links */
    .header a {
      color: #fff;
      text-decoration: none;
      margin: 0 10px;
      font-size: 18px;
    }

    /* Style for the active link */
    .header a.active {
      font-weight: bold;
    }

    /* Style for the header on mobile devices */
    @media (max-width: 600px) {
      .header {
        padding: 20px;
      }

      .header a {
        font-size: 14px;
      }
    }

    input[type="text"] {
      padding: 8px 12px;
      border: none;
      border-radius: 25px;
      background-color: #f5f5f5;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
      font-size: 16px;
      color: #333;
      transition: all 0.2s ease-in-out;
    }

    input[type="text"]:focus {
      outline: none;
      box-shadow: 0 0 4px #66afe9;
      background-color: #fff;
    }

    button.btn {
      border: none;
      border-radius: 25px;
      background-color: #4CAF50;
      color: #fff;
      padding: 8px 15px;
      cursor: pointer;
      transition: all 0.2s ease-in-out;
    }

    button.btn:hover {
      background-color: #357d3a;
    }

    #a {
      margin: 10px;
    }
  </style>
  <title>Home</title>
</head>

<body class="body">
  <div class="header">
    <div class="items">
      <a href="/sign-in">Sign-in</a>
      <a href="/sign-up">Sign-up</a>
      <a href="/">Home</a>
    </div>
  </div>
  <main id="main" class="main">
    <h2 class="headline">Snippets</h2>
    <% if (result.length> 0) { %>
    <div style="display: flex; justify-content: center; align-items: center;">
      <form class="form" action="/search" id="a">
        <input type="text" placeholder="Search by Tag" name="term">
        <button class="btn" type="submit">search</button>
      </form>
    </div> <% result.forEach(snippet=> { %>
    <div class="div1">
      <p class="line"> TAG: <span class="par">
          <%= snippet.tag %>
        </span> </p>
      <pre class="snippet"> <%= snippet.snippet %> </pre>
      <p class="line"> Title123: <span style="text-transform:uppercase">
          <%= snippet.title %>
        </span> </p>
      <p class="line"> Author: <span style="text-transform:uppercase">
          <%= snippet.author %>
        </span> </p>
      <p class="line"> Created At: <span>
          <%= new Date(snippet.createdAt).toLocaleString() %>
        </span> </p>
      <p class="line"> Updated At: <span>
          <%= new Date(snippet.updatedAt).toLocaleString() %>
        </span> </p>
    </div>
    <% }) %>
    <% } else { %>
    <div class="div1">
      <p class="line"> No snippet right now</p>
    </div>
    <% } %>
  </main>

</body>

</html>